@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

*{margin:0;padding:0;}
html,body{width:100%; height:100%;}
html{
	overflow-y:scroll; /* 문서전체에 세로 스크롤바자국 항상 표시 */
	overflow-x:hidden; /* 문서전체에 가로 스크롤바자국 항상 숨김 */
	scroll-behavior:smooth; /* 스크롤 이동시 부드럽게 이동 */
}
header,section,nav,article,footer{
	display:block; 
	/*시맨틱태그를 지원하지 않은 브라우저 
	-> 인식하지 못하는 태그를 인라인으로 인식하기때문에 강제로 블럭으로 설정함*/
}
li{list-style:none;}
body,input{font-size:16px; font-weight:400;font-family:'Lato','NanumSquare', sans-serif;}
table{border-collapse:collapse;}
input{vertical-align:middle;}
fieldset,img{vertical-align:top;font-size:0;border:0;}
a{text-decoration:none; color:#000;}
.hidden{display:none;}
.clr:after{content:"";display:block;clear:both;*zoom:1;  /* IE8 이하버전 대응 */}
.indent{display:block;text-indent:-9999px;}
h1, h2, h3, h4, h5, h6{font-weight:400; line-height:1;}

/*링크 걸린 곳 자동으로 blur주기*/
a,input,img{outline:none;selector-dummy:expression(this.hideFocus=true);}

/* margin, padding */
.mgl-10{margin-left:10px;}.mgl-20{margin-left:20px;}.mgl-30{margin-left:30px;}
.mgr-10{margin-right:10px;}.mgr-20{margin-right:20px;}.mgr-30{margin-right:30px;}

/* text color */
.color-Org{color:#f88d26;}
.color-Blue{color:#1981cd;}
.color-Gr{color:#26ad3f;}

/* background color */
.main-bg-color{background:#bff;}

/* 공통 css */
.flex{display:flex;}
.in-flex{display:inline-flex;}

.floL{float:left;}
.floR{float:right;}


body { text-transform: uppercase; font-size: 18px; color: #000; line-height: 1; } 

/* skip */
#skip a { position:absolute; top:0px; left:-9999px; z-index:100; } 
#skip a:focus, #skip a:active { left:0px; width:100%; text-align:center; padding:10px 0px; background:#004c80; color:#fff; font-weight:bold; } 

/* header */
#header { width: 100%; height: 80px; background: #fff; position: fixed; z-index: 10; } 
#header .header-inner { width: 1440px; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; } 
#header .topLogo { flex-grow: 2; flex-shrink: 1; flex-basis: 0; } 
#header h1 { flex-basis: 180px; margin-right: 20px; font-size: 20px; font-weight:bold; } 
#header nav { } 
#header nav a { padding: 5px 10px; margin:0 20px; } 
#header nav a:hover { color:#000; font-weight:700; } 

/* footer */
#footer {width:100%;position:relative;background: #f8f8f8;text-align:center;} 
#footer > section { width: 1440px; margin: 0 auto; } 

#footer address { text-align:right; font-size:16px; color: #666; line-height: 24px; } 
#footer address span { color:#000; } 
#footer p {font-size:14px;color: #888;padding-top: 10px;padding-bottom: 20px;border-top: 1px solid #ddd;background: #fff;}

.send-email{background:#f8f8f8;padding: 50px;display: flex;width: 1200px;margin: 0 auto;justify-content: center;}
.send-email h2{
    width: 400px;
}
.send-email > div{}
.send-email label{
    font-size: 18px;
    line-height: 40px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.send-email input{
    border: 0;
    line-height: 40px;
    height: 40px;
    width: 100%;
}
.send-email textarea{border:0;height: 300px;}




