@charset "UTF-8";
/* 초기화 */
* {
  padding: 0;
  margin: 0; }

html, body {
  font-size: 16px;
  letter-spacing: -1px;
  color: #222;
  text-decoration: none;
  font-family: 'Montserrat', 'NanumSquare', sans-serif;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1;
  margin: 0; }

li {
  list-style: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  display: block; }

a, img, p {
  border: none;
  text-decoration: none; }

a {
  color: #222; }

/* 공통 클래스 */
.floL {
  float: left; }

.floR {
  float: right; }

.posR {
  position: relative; }

.posA {
  position: absolute; }

.clr {
  *zoom: 1; }

.clr:after {
  content: "";
  display: block;
  clear: both; }

.w1300 {
  width: 1300px;
  margin: 0 auto; }

.tbl {
  height: 100vh;
  display: table; }

.fs-large {
  font-size: 48px; }
.fs-small {
  font-size: 18px; }

/* header */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  background: #fff;
  padding-left: 100px;
  box-sizing: border-box;
  display: table;
  z-index: 9; }
  header .logo {
    display: table-cell;
    vertical-align: middle;
    width: 180px; }
    header .logo a {
      display: inline-block; }
  header nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    header nav a {
      display: inline-block;
      font-size: 20px;
      color: #000;
      padding: 0 30px;
      margin: 0 20px;
      line-height: 100px; }

.subMenu {
  position: absolute;
  top: 100px;
  left: 0;
  display: block;
  background: #fff;
  width: 100%; }
  .subMenu p {
    font-size: 32px;
    width: 20%;
    float: left;
    text-align: right;
    padding: 50px;
    box-sizing: border-box;
    font-weight: bold; }
  .subMenu .sub2depth {
    float: left;
    width: 80%;
    padding: 40px 50px;
    box-sizing: border-box;
    border-left: 1px solid #eee; }
    .subMenu .sub2depth li {
      line-height: 70px; }
      .subMenu .sub2depth li span {
        width: 160px;
        float: left; }
      .subMenu .sub2depth li a {
        font-size: 18px;
        font-weight: bold; }
      .subMenu .sub2depth li ul {
        float: left; }
        .subMenu .sub2depth li ul li {
          float: left;
          width: 120px; }
        .subMenu .sub2depth li ul a {
          color: #888;
          font-weight: normal; }
    .subMenu .sub2depth a {
      transition: 0.3s; }
      .subMenu .sub2depth a:hover {
        color: #68beef; }

.utilMenu {
  position: absolute;
  top: 50%;
  right: 140px;
  transform: translateY(-50%); }
  .utilMenu a {
    display: inline-block;
    font-size: 16px;
    color: #666;
    transition: 0.3s; }
    .utilMenu a:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 14px;
      background: #ddd;
      margin: 0 15px; }
    .utilMenu a:last-child:after {
      display: none; }
    .utilMenu a:hover {
      color: #222; }

.allMenuBtn {
  background: #68beef;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #68beef 0%, #5df88f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$from',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: table; }
  .allMenuBtn div {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .allMenuBtn div span {
      width: 30px;
      height: 3px;
      background: #fff;
      display: block;
      margin: 8px auto; }

.allMenuWrap {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 99; }
  .allMenuWrap .closeBtn {
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 100px; }
  .allMenuWrap .tab {
    width: 25%;
    height: 100%;
    display: table;
    float: left;
    background: #68beef;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #68beef 0%, #5df88f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$from',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat; }
    .allMenuWrap .tab div {
      display: table-cell;
      vertical-align: middle; }
    .allMenuWrap .tab a {
      font-size: 24px;
      font-weight: bold;
      display: block;
      width: 40%;
      margin: 50px auto; }
    .allMenuWrap .tab i {
      color: rgba(34, 34, 34, 0.4);
      float: right;
      transition: 0.3s;
      line-height: 30px; }
      .allMenuWrap .tab i:hover {
        color: #222; }

.allMenu {
  width: 75%;
  box-sizing: border-box;
  float: right;
  height: 100vh;
  padding: 100px 0; }

.quickMenu {
  padding: 50px 100px;
  border-bottom: 1px solid #ddd; }
  .quickMenu h1 {
    float: left;
    line-height: 35px;
    margin-right: 50px;
    font-size: 18px; }
  .quickMenu ul li {
    float: left;
    margin: 0 20px; }
    .quickMenu ul li a {
      padding: 0 40px;
      line-height: 35px;
      display: inline-block;
      border: 1px solid #68beef;
      border-radius: 30px;
      transition: 0.3s;
      -webkit-transition: 0.3s; }
      .quickMenu ul li a:hover {
        background: #68beef;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #68beef 0%, #5df88f 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$from',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
        background-repeat: no-repeat;
        color: #fff; }

.menu {
  padding: 50px 100px;
  float: left; }
  .menu h1 {
    font-size: 24px;
    color: #222;
    font-weight: bold; }
    .menu h1:after {
      content: "";
      display: block;
      width: 30px;
      height: 3px;
      background: #222;
      margin: 30px 0; }
  .menu ul {
    margin-bottom: 10px; }
    .menu ul li {
      line-height: 40px; }
      .menu ul li li {
        line-height: 30px; }
      .menu ul li li a {
        color: #888;
        margin-left: 20px;
        font-weight: normal; }
  .menu a {
    font-size: 18px;
    font-weight: bold;
    color: #222; }

#container .mainTit {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block; }
  #container .mainTit span {
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    display: block;
    margin-top: 30px; }

.mainVisWrap {
  padding: 100px;
  box-sizing: border-box; }
  .mainVisWrap div {
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    }
  .mainVisWrap img {
    width: 100%; }

.prodWrap {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background: #fafafa; }
  .prodWrap article {
    background: #68beef;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #68beef 0%, #5df88f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$from',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-size: 40%;
    width: 100%;
    height: 100vh; }
    .prodWrap article div {
      display: table;
      height: 100%; }
    .prodWrap article .prodBn {
      display: table-cell;
      vertical-align: middle;
      width: 50%; }
    .prodWrap article .prodList {
      width: 630px;
      display: table-cell;
      vertical-align: middle; }

.prodList .mainTit {
  display: inline-block;
  float: left;
  width: 330px; }
.prodList ul {
  zoom: 1; }
  .prodList ul:after {
    display: block;
    content: "";
    clear: both; }
  .prodList ul li {
    float: left;
    border: 1px solid #eee;
    margin-left: 30px;
    margin-top: 30px;
    transition: 0.3s; }
    .prodList ul li:first-child {
      margin-top: 0;
      margin-left: 0; }
    .prodList ul li:nth-child(2) {
      margin-left: 0; }
    .prodList ul li:hover {
      border: 1px solid #68beef; }
  .prodList ul a {
    display: inline-block;
    position: relative; }
    .prodList ul a .prodName {
      position: absolute;
      bottom: 30px;
      display: block;
      text-align: center;
      width: 100%;
      font-size: 18px; }

.contWrap {
  background: #68beef;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #68beef 0%, #5df88f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #68beef 0%, #5df88f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$from',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top right;
  width: 100%;
  height: 100vh; }
  .contWrap .brandWrap {
    width: 65%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 100px;
    box-sizing: border-box; }
    .contWrap .brandWrap .mainTit {
      margin-bottom: 85px; }
    .contWrap .brandWrap ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .contWrap .brandWrap ul li {
        text-align: center;
        margin-bottom: 50px; }
    .contWrap .brandWrap a {
      color: #666; }
    .contWrap .brandWrap img {
      border: 1px solid #eee;
      display: block;
      margin-bottom: 10px; }
  .contWrap .mallWrap {
    width: 35%;
    padding-left: 100px;
    color: #fff;
    display: table-cell;
    vertical-align: middle; }
    .contWrap .mallWrap .goBtn {
      color: #fff;
      width: 160px;
      height: 60px;
      display: inline-block;
      padding: 0 20px;
      line-height: 60px;
      border: 2px solid #fff;
      margin-top: 90px;
      font-size: 16px;
      transition: 0.3s; }
      .contWrap .mallWrap .goBtn:hover {
        background: #fff;
        color: #68beef; }
  .contWrap i {
    float: right;
    line-height: 60px; }

.compWrap {
  background: url("../img/compBg.jpg") no-repeat;
  height: 100vh; }
  .compWrap p {
    margin-top: 30px; }
    .compWrap p i {
      width: 40px;
      height: 40px;
      border: 2px solid #222;
      color: #222;
      border-radius: 50%;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      margin-right: 15px;
      box-sizing: border-box;
      transition: 0.3s; }
      .compWrap p i:hover {
        border: 2px solid transparent;
        border-radius: 50%;
        background-image: linear-gradient(#E8E8EA, #E8E8EA), linear-gradient(to right, #68beef, #5df88f);
        background-clip: content-box, border-box;
        background-origin: border-box;
        color: #68beef; }
  .compWrap .w1300 div {
    display: table-cell;
    vertical-align: middle; }
  .compWrap video {
    background: url("../img/video.jpg") no-repeat;
    width: 630px;
    height: 350px;
    float: right;
    margin-bottom: 50px; }
  .compWrap .compInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px; }
    .compWrap .compInfo a {
      width: 295px;
      height: 295px;
      color: #fff;
      text-align: center;
      text-shadow: 2px 2px 0px rgba(56, 56, 56, 0.4);
      overflow: hidden; }
      .compWrap .compInfo a > span {
        width: 295px;
        height: 295px;
        display: table;
        transition: transform 0.3s ease-out; }
      .compWrap .compInfo a > span > span {
        display: table-cell;
        vertical-align: middle; }
      .compWrap .compInfo a:hover > span {
        background-position: center center;
        transform: scale(1.1); }
      .compWrap .compInfo a img {
        display: block;
        margin: 0 auto 10px; }
    .compWrap .compInfo .menu01 > span {
      background: url("../img/menu01.jpg") no-repeat; }
    .compWrap .compInfo .menu02 > span {
      background: url("../img/menu02.jpg") no-repeat; }
    .compWrap .compInfo .menu03 > span {
      background: url("../img/menu03.jpg") no-repeat; }
    .compWrap .compInfo .menu04 > span {
      background: url("../img/menu04.jpg") no-repeat; }

.footer {
  width: 100%;
  background: #333; }
  .footer .notice {
    background: #6adbc1;
    height: 70px;
    line-height: 70px; }
    .footer .notice .mainTit {
      color: #fff;
      float: left;
      font-size: 18px;
      font-weight: bold;
      line-height: 70px;
      width: 15%; }
      .footer .notice .mainTit span {
        width: 20px;
        margin-top: 8px; }
      .footer .notice .mainTit i {
        color: #fff;
        margin: 4px 0; }
    .footer .notice ul {
      width: 80%;
      display: inline-block;
      padding-left: 50px;
      box-sizing: border-box;
      height: 70px;
      overflow: hidden; }
      .footer .notice ul li {
        line-height: 70px;
        position: relative; }
        .footer .notice ul li a {
          color: #fff; }
      .footer .notice ul span {
        float: right;
        font-size: 16px; }
    .footer .notice .goBtn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #fff;
      color: #fff;
      text-align: center;
      margin-top: 15px;
      box-sizing: border-box;
      float: right; }
      .footer .notice .goBtn i {
        line-height: 36px; }
  .footer .footWrap {
    width: 1300px;
    margin: 0 auto;
    padding: 50px 0; }
    .footer .footWrap .logo {
      margin-bottom: 30px; }
    .footer .footWrap .footInfo {
      width: 70%;
      float: left; }
    .footer .footWrap .noDot:before {
      display: none; }
    .footer .footWrap address {
      color: #666;
      font-style: normal;
      line-height: 1.5; }
      .footer .footWrap address span {
        color: #ccc;
        margin-right: 10px; }
        .footer .footWrap address span:before {
          content: "";
          display: inline-block;
          width: 4px;
          height: 4px;
          background: #8f8f8f;
          border-radius: 50%;
          margin: 0 10px 3px; }
        .footer .footWrap address span:first-child:before {
          display: none; }
    .footer .footWrap .footmenu {
      float: right;
      width: 30%; }
      .footer .footWrap .footmenu:before {
        content: "";
        display: inline-block;
        width: 1px;
        height: 189px;
        background: #8f8f8f;
        float: left;
        margin-right: 50px; }
      .footer .footWrap .footmenu li a {
        color: rgba(204, 204, 204, 0.5);
        line-height: 1.7;
        transition: 0.3s; }
        .footer .footWrap .footmenu li a:hover {
          color: rgba(204, 204, 204, 0.7); }
    .footer .footWrap p {
      color: #666;
      font-size: 14px;
      margin-top: 30px;
      text-transform: uppercase; }

/*# sourceMappingURL=scssTest.css.map */
