body{
    min-width:1400px;
    font-family:$font-family;
    font-size:13px;
    line-height:18px;
    color:#263238;
    font-weight:400;
}

// gnb
header{
    position:relative;
    @include flex-row;
    h1{
        width:220px;
        height:60px;
        background:$color-gnb;
        padding:0 24px;
        box-sizing:border-box;
        @include flex-row(center, between);
        a{
            width:48%;
        }
    }
    .inner{
        background:$color-gnb;
        width:calc(100% - 240px);
        @include flex-row(start, center);
        flex:1;
        h1{
            width:200px;
            height: 60px;
            background:$color-bk;
            @include flex-row;
            a{
                display:inline-block;
                width:60%;
                color:$color-wh;
            }
        }
    }
    .book_area{
        position:relative;
        z-index:10;
        .favorite{
            position:absolute;
            top:60px;
            left:0;
            background:$color-wh;
            width:200px;
            max-height:300px;
            border-radius:10px;
            z-index:9;
            display:none;
            padding:24px;
            &::before{
                content: "";
                width: 16px;
                height: 16px;
                background: #fff;
                position: absolute;
                top: -5px;
                left: 22px;
                transform: rotate(45deg);
            }
        }
        .layer_search{
            position:relative;
            .input_area{
                width:100%;
                .text_inp{
                    border: 0;
                    border-bottom: 1px solid #34444c;
                    padding: 0;
                }
            }
            button{
                font-size:18px;
                color:$color-pri;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -9px;
                color: #34444c;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -9px;
            }
        }
        .favorite_list{
            margin-top:24px;
            max-height:196px;
            overflow:auto;
            li{
                line-height:28px;
                @include flex-row(center, between);
                a{
                    font-size:14px;
                    transition:0.3s ease-in-out;
                    color:$color-pri;
                    &:hover{
                        color:$color-act;
                    }
                }
                button{
                    width: 16px;
                    height: 16px;
                    background: #e8e8e8;
                    font-size: 14px;
                    border-radius: 50%;
                    color: $color-pri;
                    text-align: center;
                    line-height: 16px;
                }
            }
        }
    }
    
    .gnbmenu{
        @include flex-row(center, start);
        flex:1;
        gap:3%;
        margin-left:3%;
        li{
            flex:0 0 auto;
            &.active{
                a{
                    color:$color-act;
                    position:relative;
                }
            }
            a{
                color:$color-wh;
                padding:21px 8px;
                font-size:16px;
                display:inline-block;
            }
        }
    }
    .ico{
        width:60px;
        height:60px;
        font-size:20px;
        border-right:1px solid rgba(255, 255, 255, 0.32);
        border-left:1px solid rgba(255, 255, 255, 0.32);
        color:rgba(255, 255, 255, 0.6);
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
    }
    .utilmenu{
        float:right;
        font-size:0;
        .user{
            border-left:1px solid rgba(255, 255, 255, 0.32);
            border-right:0;
            button{

            }
        }
    }
}

// layout
.container{
    @include flex-row(stretch, center);
}

// lnb
.lnb{
    background:$color-lnb;
    width:220px;
    position:relative;
    &.close{
        margin-left:-220px;
        transition:0.3s ease-in-out;
    }
    &.open{
        margin-left:0;
        transition:0.3s ease-in-out;
    }
    .lnb_top{
        margin: 0 24px 24px;
        box-sizing: border-box;
        border-bottom: 1px solid #e7ebef4d;
        height:73px;
        @include flex-row;
        h1{
            color:#fff;
            font-size:18px;
            text-align:center;
        }
        a{
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 3px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 13px;
            border: 1px solid #fff;
        }
        i{
            font-size: 18px;
            margin-right: 4px;
        }
    }
    .lnb_view{
        .lnb_menu{
            .menu{
                padding:14px 24px;
                display:block;
                position:relative;
                &.active{
                    background:$color-act;
                    transition:0.3s ease-in-out;
                }
                svg{
                    vertical-align:middle;
                    margin-right:4px;
                }
            }
            ul{
                background:$color-gnb;
            }
            li{
                position:relative;
                &.active{
                    a{
                        color:$color-act;
                    }
                }
                a{
                    &:hover, &:active{
                        color:$color-act;
                        transition:0.3s ease-in-out;
                    }
                }
            }
            a{
                color:#fff;
                padding:12px 24px 12px 46px;
                display:block;
            }
            &.current{
                .menu{
                    background:$color-act;
                }
            }
            &:has(ul){
                .menu{
                    position:relative;
                    &::after{
                        content:'';
                        position:absolute;
                        top:50%;
                        right:24px;
                        margin-top:-10px;
                        width:20px;
                        height:20px;
                        background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="rgba(255,255,255,1)"/></svg>');
                        background-position:center center;
                    }
                }
                &.active{
                    .menu{
                        position:relative;
                        &::after{
                            content:'';
                            position:absolute;
                            top:50%;
                            right:24px;
                            margin-top:-10px;
                            width:20px;
                            height:20px;
                            background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M5 11h14v2H5z" fill="rgba(255,255,255,1)"/></svg>');
                            background-position:center center;
                        }
                    }
                }
                
            }
            
        }
    }
    
}

// content
.content{
    width:calc(100% - 240px);
    min-height: calc(100vh - 60px);
    box-sizing:border-box;
    background:#e7ebef;
    flex:1;
    .tit_h1{
        font-size:24px;
        background:#fff;
        padding:24px 40px;
        border-bottom:1px solid #ddd;
        line-height:1;
        .add_bmark{
            margin-left:8px;
            margin-top:-3px;
            vertical-align:middle;
            width:20px;
            height:20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928L12 18.26zm0-2.292l4.247 2.377-.949-4.773 3.573-3.305-4.833-.573L12 5.275l-2.038 4.42-4.833.572 3.573 3.305-.949 4.773L12 15.968z' fill='rgba(167,181,195,1)'/%3E%3C/svg%3E");
            &.active{
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z' fill='rgba(213,56,65,1)'/%3E%3C/svg%3E");
                background-position:center center;
            }
        }
    }
    .dashboard{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 40px;
        box-sizing: border-box;
        padding: 40px 240px 40px 220px;
    }
    .main_content{
        padding:40px;
    }
}

.lnb_switch{
    font-size:22px;
    color:rgba(255, 255, 255, 0.6);
    width:22px;
    height:22px;

}

.topBtn{
    width:48px;
    height:48px;
    border-radius:50%;
    background:#fff;
    position:fixed;
    bottom:30px;
    right:30px;
    text-align:center;
    box-shadow: 0px 0px 10px #ddd;
    z-index:99;
    i{
        font-size:24px;
    }
}

.dimmed{
    display:none;
    position:absolute;
    width:100%;
    height:100%;
    top:60px;
    left:0;
    background:rgba(0, 0, 0, 0.3);
    z-index:9;
}