// 메인 dashboard
.group_box{
    background:$color-wh;
    width:calc(25% - 120px/4);
    padding:24px;
    box-sizing:border-box;
    border:1px solid #ddd;
    h2{
        line-height: 32px;
        font-size: 18px;
        font-weight: 700;
        color: #34444c;
        margin-bottom:24px;
        i{
            width: 32px;
            height: 32px;
            display: inline-block;
            text-align: center;
            background: #e7ebef;
            border-radius: 5px;
            line-height: 32px;
            margin-right: 12px;
            vertical-align: middle;
            font-weight: 400;
            color: #34444c;
        }
    }
    dl{
        @include flex-between;
        font-size:16px;
        dd{
            span{
                font-size:24px;
                margin-right: 4px;
                font-weight: 700;
                color: rgba(213,56,65,1);
            }
        }
        & + dl{
            margin-top:24px;
        }
    }
}

.sales{
    width:calc(50% - 20px);
    background:$color-wh;
    height:400px;
    .chart_wrap{
        height:calc(100% - 32px - 24px);
    }
}

.group_vertical{
    display:flex;
    flex-direction:column;
    gap:40px;
    width:calc(50% - 20px);
    .vertical{
        width:100%;
        .group_per{
            @include flex-between;
        }
        dl{
            @include flex-between;
            flex:1;
            padding:0 24px;
            position:relative;
            margin-top:0;
            &::after{
                content:'';
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -5px;
                width:1px;
                height:10px;
                background:#ddd;
            }
            &:first-child{
                padding:0 24px 0 0;
            }
            &:last-child{
                padding:0 0 0 24px;
                &::after{
                    display:none;
                }
            }
            dt{
            }
            dd{
                span{
                    font-size:24px;
                    margin-right: 4px;
                    font-weight: 700;
                    color: rgba(213,56,65,1);
                }
            }
        }
    }
}

// 주문/클레임
.search_wrap{
    position:relative;
    background:#fff;
    border:1px solid #ddd;
    padding:0 40px;
    .btn_open{
        $h:24px;
        position:absolute;
        right:0;
        bottom:-$h;
        @include btn($color-pri, $color-wh, 56px, $h);
        font-size:20px;
        border-radius:0 0 6px 6px;
    }
}
.total_search{
    width:54%;
    margin:0 auto;
    padding:40px 0;
    .tit_h2{
        width:160px;
        font-weight:700;
        font-size:16px;
    }
}
.search_area{
    $h:48px;
    width:100%;
    gap:8px;
    flex:1;
    .dropdown_wrap{
        border:1px solid $color-pri;
        width:60%;
        flex:1;
        .all_search{
            $w:150px;
            width:$w;
            .select{
                width:$w;
                height:$h;
                padding: 8px;
                box-sizing:border-box;
                text-align: left;
                line-height: 1;
                border:0;
                &:after{
                    content:'';
                    width:1px;
                    height:16px;
                    background:#ddd;
                    position: absolute;
                    right: 0;
                }
            }
            .select_option{
                position:absolute;
                top:48px;
                left:-1px;
                border:1px solid #00317a;
                width:$w;
                background:$color-wh;
                border-top:1px solid $color-wh;
                li{
                    cursor:pointer;
                    height: $h;
                    padding: 8px;
                    box-sizing: border-box;
                    line-height: 32px;
                }
            }
        }
        .input_area{
            flex:1;
            .text_inp{
                width:100%;
                height:$h;
                line-height:$h;
                padding:16px;
                border:0;
            }
        }
    }
    .btn_wrap{
        margin-top:0;
        .btn_sec{
            height: $h + 2;
            border:1px solid $color-pri;
        }
    }

}

// 상세조회영역
.detail_search{
    border-top:1px solid #ddd;
    //height:0;
    //opacity:0;
    padding:40px 0;
    display:none;
    .none_box{
        width:100%;
        //background:#f8f8f8;
        margin-top:28px;
        //padding:40px;
        //box-sizing:border-box;
    }
    &.open{
        height:100%;
        opacity:1;
        margin-top:40px;
        display:block;
    }
    .tit_h2{
        font-weight:700;
    }
    .tbl{
        border:1px solid #e8e8e8;
        tr{
            border-bottom:1px solid #e8e8e8;
        }
        th{
            background:#f8f8f8;
            padding:0 16px;
        }
        td{
            padding:8px;
        }
    }
}

.chkbox_wrap{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    .chkbox_area {
        flex-basis:108px;
    }
}

.period_wrap{
    @include flex-left;
    gap:8px;
    .period_btnwrap{
        font-size:0;
        button{
            padding:0 4px;
            border:1px solid #ddd;
            width:48px;
            height:32px;
            margin-left:-1px;
            &.active{
                background:$color-act;
                color:$color-wh;
                border:1px solid $color-act;
            }
        }
    }
    .btn_add{
        color: $color-wh;
        border-radius: 50%;
        background: $color-pri;
        width: 24px;
        height: 24px;
        font-size: 16px;
        line-height: 24px;
    }
}

.radio_wrap{
    @include flex-left;
    gap:24px;
}

// 데이터 테이블
.tbl_wrap{
    margin-top:64px;
    padding:40px;
    background:#fff;
    box-sizing:border-box;
    border:1px solid #ddd;
    .btn_wrap{
        margin-top:0;
    }
    .grid{
        width:100%;
        position:relative;
        z-index:1;
        .tui-grid-container{
            font-family:$font-family;
        }
        .tui-grid-cell{
            position:relative;
            background:#fff;
            overflow:visible;
            &:hover, &:focus{
                [data-tooltip]{
                    opacity:1;
                    transform:translate(50%, 70%) scale(1);
                    border-radius:10px;
                }
            }
            [data-tooltip]{
                display:block;
                position:absolute;
                bottom:0%;
                left:0%;
                transform:translate(50%, 50%) scale(0);
                transform-origin: bottom center;
                padding:10px 30px;
                background:#f8f8f8;
                opacity:0;
                transition:0.15s ease-in-out;
                box-shadow:5px 5px 5px #ccc;
                z-index:9999;
                img{
                    width:50px;
                    height:50px;
                }
            }
        }
        .tui-grid-cell-header{
            background:#f8f8f8;
        }
        .tui-pagination{
            .tui-is-selected, .tui-pagination strong{
                background:#ddd;
                border:1px solid #ddd;
            }
        }
    }
}

.tooltip{
    position:absolute;
    z-index:10;
    pointer-events:none;
    opacity:1;
    padding:8px;
    background:#f8f8f8;
    border-radius:8px;
    width:160px;
    @include flex-left;
    gap:8px;
    .tip_img{
        img{
            width:50px;
            height:50px;
            background:purple;
        }
    }
    .tip_detail{
        .prdtit{
            font-size:12px;
            color:#333;
            font-weight:700;
            display:block;
        }
        .price{
            font-size:12px;
            color:#333;
            display:block;
        }
        .state{
            font-size:12px;
            color:#333;
            display:block;
        }
    }
}


