body{
    font-family:$font-family;
    font-size:13px;
    font-weight:400;
}

// wrap
.container{
    @include flex-stretch;
}

// lnb
.lnb{
    background:#3c3c3c;
    width:240px;
    position:relative;
    &.close{
        margin-left:-240px;
        transition:0.3s ease-in-out;
    }
    &.open{
        margin-left:0;
        transition:0.3s ease-in-out;
    }
    .lnb_view{
        padding:24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.251);
        dl{
            margin-bottom: 24px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.251);
            padding-bottom: 24px;
            &:last-child{
                margin-bottom:0;
                padding-bottom:0;
                border-bottom:0;
            }
        }
        dt{
            color:#fff;
            font-size:13px;
            font-weight:700;
            margin-bottom:8px;
            svg{
                vertical-align: middle;
                margin-right: 4px;
                border-radius: 50%;
                background: #222;
                padding: 6px;
            }
        }
        dd{
            margin-top: 8px;
            line-height: 18px;
            margin-left: 36px;
            // &:before{
            //     content: '- ';
            //     display:inline-block;
            //     color:#ccc;
            //     margin-right:10px;
            // }
            a{
                color:#ccc;
                font-size:13px;
            }
        }
    }
    
}

// gnb
header{
    box-shadow:0px 5px 7px rgba(39, 42, 51, 0.15);
    position:relative;
    @include flex-left;
    h1{
        width:240px;
        height:60px;
        background:$color-bk;
        padding:0 24px;
        box-sizing:border-box;
        @include flex-between;
        a{
            width:56%;
        }
    }
    .inner{
        background:$color-bk;
        width:calc(100% - 240px);
        @include flex-left;
        h1{
            width:200px;
            height: 60px;
            background:$color-bk;
            @include flex-center;
            a{
                display:inline-block;
                width:60%;
                color:$color-wh;
            }
        }
    }
    .book_area{
        position:relative;
        z-index:10;
        .favorite{
            position:absolute;
            top:60px;
            left:0;
            background:$color-wh;
            width:200px;
            height:300px;
            border-radius:0 10px 10px 10px;
            box-shadow:5px 5px 5px #ddd;
        }
    }
    
    .gnbmenu{
        @include flex-left;
        flex:1;
        gap:32px;
        margin-left:32px;
        li{
            flex:0 0 auto;
            &.active{
                a{
                    color:$color-wh;
                    position:relative;
                    &:after{
                        content:'';
                        height:3px;
                        background:$color-wh;
                        position:absolute;
                        bottom:0;
                        left:0;
                        width:100%;
                        @include keyframes(border){
                            0%{
                                width:0;
                            }
                            100% {
                                width: 100%;
                            }
                        }
                        @include animate(border, 0.5s, linear, 1)
                    }
                }
            }
            &.setting{
                padding:0 40px;
                background:#00317a;
            }
            a{
                color:$color-wh;
                padding:21px 8px;
                font-size:16px;
                display:inline-block;
            }
        }
    }
    .ico{
        width:60px;
        height:60px;
        font-size:20px;
        border-right:1px solid rgba(255, 255, 255, 0.32);
        border-left:1px solid rgba(255, 255, 255, 0.32);
        color:rgba(255, 255, 255, 0.6);
    }
    .utilmenu{
        float:right;
        font-size:0;
        .user{
            border-left:1px solid rgba(255, 255, 255, 0.32);
            border-right:0;
            button{

            }
        }
    }
}

// content
.content{
    width:calc(100% - 240px);
    padding:40px;
    box-sizing:border-box;
    background:#f8f8f8;
    flex:1;
    .tit_h1{
        font-size:24px;
        margin-bottom:28px;
    }
}

.lnb_switch{
    font-size:22px;
    color:$color-wh;
}

// .lnb_switch{
//     $w: 24px;
//     position:absolute;
//     cursor:pointer;
//     top:0;
//     right: -$w;
//     width: $w;
//     height: 48px;
//     background: #fff;
//     font-size: 16px;
//     border: 1px solid #ddd;
//     border-radius: 0 5px 5px 0;
//     &.openBtn{
//         i{
//             transform: rotate(180deg);
//         }
//     }

// }

.topBtn{
    width:48px;
    height:48px;
    border-radius:50%;
    background:#fff;
    position:fixed;
    bottom:30px;
    right:30px;
    text-align:center;
    box-shadow: 0px 0px 10px #ddd;
    i{
        font-size:24px;
    }
}